.leistungen {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &-item {
    width: 20%;
    margin: 2%;
  }

  &-card{

  }
}

.img {
  height: 100%;
}

@media screen and (max-width: 500px){
  .leistungen-item {
    width: 90% !important;
  }
}
