.images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .greatImg{
        margin: 1em;
        margin-top: 5em;
        width: 800px;
    }
    .smallImages{
        display: flex;
        justify-content: space-between;
        margin: 1em;
        width: 800px;
    }

    .smallImg {
        width: 15vw;
    }
}