<div class="first">
  <img src="./../../assets/images/brennholz.jpg" alt="">
  <div class="textDiv">
    <h1>Überschrift</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi voluptates fugiat consequuntur dicta, ab aliquid, dolores cum eligendi alias quo velit qui voluptatem quia ex rerum quasi suscipit vel minus.
    Aspernatur, modi! Magnam rem assumenda pariatur error consequuntur. Consequatur, numquam molestiae quaerat praesentium possimus, reprehenderit dolores deleniti excepturi tenetur voluptatem laboriosam totam ab qui adipisci aut, dolore omnis impedit neque!
    Quos delectus vitae, dolorem possimus facilis deserunt dolorum eum vero est rem ipsa quasi eos nemo et beatae provident ex sint libero, quam pariatur molestias. Dolore amet ipsam iste recusandae.
    Aliquid magnam saepe dolorum culpa soluta animi odit doloribus corrupti consectetur magni in ratione architecto itaque commodi corporis dolores, esse delectus consequuntur eligendi? Qui repellendus temporibus sed eius numquam quasi.</p>
  </div>
</div>
