<div class="first">
  <img class="img" src="../../assets/images/brennholz/brennholz.jpg" alt="">
  <div class="textDiv">
    <h1>Über uns</h1>

    <p> Seit 2006 steht die Firma Brennholz Härter als Familienbetrieb für Qualität, Nachhaltigkeit und regionale
      Verbundenheit. Unser Hauptsitz in Meßstetten bildet das Herzstück unseres Unternehmens, das sich ganz dem Rohstoff
      Holz widmet.
    </p>
    <p> Mit modernster Technik verarbeiten wir Holz zu hochwertigem Brennholz. Durch den Einsatz eines leistungsstarken
      Sägespaltautomaten wird das Holz in einem einzigen Arbeitsgang geschnitten, gespalten und ofenfertig auf Paletten
      verpackt. Nach der Lufttrocknung erreicht unser Brennholz eine Restfeuchte von unter 20 % und garantiert damit
      eine effiziente und umweltfreundliche Verbrennung. Zudem sorgt eine spezielle Reinigungstrommel dafür, dass
      Kleinteile separiert und weiter zu Hackschnitzeln verarbeitet werden.
    </p>
    <p> Unsere Philosophie basiert auf Nachhaltigkeit: Wir setzen ausschließlich auf Holz aus heimischen Wäldern und
      nachwachsenden Baumbeständen. Dadurch tragen wir aktiv zum Erhalt der regionalen Forstwirtschaft bei und sichern
      die
      natürlichen Ressourcen für kommende Generationen.
    </p>
    <p> Dank kontinuierlicher Erweiterung ist unser Unternehmen zu einem etablierten Namen im Holzbrennstoffhandel der
      Region geworden. Unser stetig wachsender Kundenstamm umfasst Privatpersonen, Holzhändler sowie gewerbliche
      Abnehmer.
      Sie alle profitieren von unserer breiten Produktpalette an qualitativ hochwertigen Holzbrennstoffen.
    </p>
    <p> Mit Leidenschaft und Erfahrung arbeiten wir jeden Tag daran, unseren Kunden den besten Service und erstklassige
      Produkte zu bieten. Brennholz Härter steht für eine nachhaltige Energiequelle, die zugleich umweltfreundlich und
      wirtschaftlich ist.
    </p>
    <p> Wir freuen uns darauf, auch Sie von unserer Qualität zu überzeugen!
    </p>

  </div>
</div>
