<div class="site">

  <img class="logo" routerLink="" src="../../assets/images/Logo_Brennholz_Härter.png">

  <h1>Kontakt</h1>

  <div class="adresse">
    <label>Johannes Härter</label>
    <label>Ahornstraße 27</label>
    <label>72469 Meßstetten</label>
    <label id="tel">0175 46 82 586</label>
    <a href="mailto:info@brennholz-haerter.de">info@brennholz-haerter.de</a>
  </div>

  <div class="links">

    <a href="https://www.facebook.com/brennholzhaerter/?locale=de_DE">
      <img src="../../assets/images/SocialMedia/f_logo_RGB-Blue_72.png" alt="" srcset="">
    </a>

    <a href="https://www.instagram.com/brennholz_haerter/?hl=de">
      <img src="../../assets/images/SocialMedia/Instagram_Glyph_Gradient copy.png" alt="" srcset="">
    </a>

  </div>

</div>
