@import "../../styles/variables";

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 10vh;
}
.logodiv{
  display: flex;
  background-color: white;
  align-items: center;
}
.logo{
  width: 170px;
  justify-self: flex-start;
  margin: 10px;
}

.toolbar{
  display: flex;
  justify-content: flex-end;
}
.menu{

}

.test{
  color: white;
  margin: 1vw;
  text-decoration: none;
}

.navigation-active {
  background-color: $accent-color;
  color: $text-color-light;
}

mat-toolbar{
  height: 10vh;
}
