@import "../../styles/variables";

.sidenav-container {
  height: 90%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 10vh;
}
.logodiv {
  display: flex;
  background-color: white;
  align-items: center;
}
.logo {
  width: 170px;
  justify-self: flex-start;
  margin: 10px;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
}
.menu {
  // display: flex;
  // justify-content: flex-end;
}

.links {
  color: white;
  margin: 1vw;
  text-decoration: none;
  font-family: zeroesone;
}

.navigation-active {
  text-decoration: underline;
}

mat-toolbar {
  height: 10vh;
  display: grid;
  grid-template-columns: 10% 90%;
}

footer{
  height: 100px;
  background-color: #b0b5ae;

  display: flex;
  justify-content: space-between;

  .spruch{
    font-size: 2em;
    align-self: center;
    color: white;
    font-weight: bold;
  }

  .adress{
    color: white;
    display: flex;
  }
}
