<div class="container">

  <div class="images">

    <img class="greatImg" [src]="greatImag">

    <div class="smallImages">
      <div class="imageFor" *ngFor=" let image of images">
        <img class="smallImg" [src]="image" (click)="changeImage(image)">
      </div>
    </div>

  </div>

  <div class="text">
    <div class="textContent" [innerHTML]="textHtml"></div>
    <div class="button" *ngIf="brennholz">
              <app-pulse-button
        #pulseButtonComponent
        (click)="brennholzClick()"
        [buttonText]="'Brennholzbestellung'"
        class="button"
        *ngIf="brennholz">

        </app-pulse-button>
    </div>
  </div>

</div>
