<div class="container">

  <div class="images">

    <img class="greatImg" [src]="greatImag">

    <div class="smallImages">
      <div class="imageFor" *ngFor=" let image of images">
        <img class="smallImg" [src]="image" (click)="changeImage(image)">
      </div>
    </div>

  </div>

  <div>
    <div class="text" [innerHTML]="textHtml"></div>
    <div class="button">
      <button *ngIf="brennholz" mat-raised-button color="primary" (click)="brennholzClick()">Brennholzbestellung</button>
    </div>
  </div>

</div>
