$mobile: 500px;

.container {
  display: flex;
  margin-top: 2vh;
  flex-direction: column;
  align-items: center;

  .stepper{
    width: 80%;
  }

  .form {
    display: flex;
    flex-direction: column;
    margin-left: 1vw;

    #groupLabel{
      font-weight: bold;
    }

    mat-radio-button {
      margin-right: 1vw;
      margin-top: 1vh;
    }
    mat-radio-group{
      margin-bottom: 2vh;
    }

    .twoItems{
      display: flex;
      justify-content: space-between;
    }

    mat-form-field {
      width: 50%;
    }

    .datum{
      margin-top: 1vh;
    }

    .personendateButton{
      display: flex;
      justify-content: space-between;
    }
  }

  .info {
    margin-left: 3vw;
    margin-right: 3vw;
  }

  button{
    margin-top: 2vh;
  }
}

@media screen and (max-width: 500px){

  mat-form-field {
    width: 100% !important;
  }

  .stepper{
    width: 100% !important;
  }
}
