.container {
  display: flex;
  justify-content: space-around;

  .form {
    display: flex;
    flex-direction: column;
    margin-left: 1vw;

    mat-radio-button {
      margin-right: 1vw;
      margin-top: 1vh;
    }

    mat-form-field {
      width: 30vw;
    }

    .datum{
      margin-top: 1vh;
    }
  }

  .info {
    margin-left: 3vw;
    margin-right: 3vw;
  }
}
