.container {
  display: flex;
  justify-content: space-around;
  margin-top: 2vh;

  table {
    width: 40%;
    height: auto;
  }
  .form {
    display: flex;
    flex-direction: column;
    margin-left: 1vw;

    mat-radio-button {
      margin-right: 1vw;
      margin-top: 1vh;
    }

    .half{
      width: 15vw;
    }

    mat-form-field {
      width: 30vw;
    }

    .datum{
      margin-top: 1vh;
    }
  }

  .info {
    margin-left: 3vw;
    margin-right: 3vw;
  }

  button{
    margin-top: 2vh;
  }
}
